<phpunit bootstrap="autoloader.php">
  <testsuites>
    <testsuite name="Extensibility">
      <directory suffix="Test.php">Test</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>.</directory>
    </whitelist>
  </filter>

  <php>
    <ini name="xdebug.collect_params" value="0"/>
  </php>
</phpunit>
